{
  "jsxSingleQuote": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "bracketSameLine": true,
  "printWidth": 150,
  "arrowParens": "always",
  "semi": true
}
